*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-image: url(bmi3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.container{
    margin-top: 240px;
    margin-right: 85px;
    padding: 30px;
    color: rgb(10, 10, 10);
    font-size: x-large;
    font-weight: bolder;
}