<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Rediect</title>
</head>
<body>
    <h1>Open redirect</h1>
    <a href="/open?url=http://127.0.0.1:5000/"> <!--redirect us to home page-->
        <img src="/App/static/redirect.webp" style="height: 100px; width: 100px;" alt="">
    </a>
    <form action="">
        <label for="url">redirect to : </label>
        <input type="text" name="url" placeholder="Your url">
        <button type="submit" value="GO">GO</button>
    </form>
</body>
</html>